<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment=header(title)>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap-theme.min.css">
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery/jquery.form.js"></script>
    <script src="/bootstrap3/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 通用JS -->
<div th:fragment="footer">

</div>
</body>
</html>